on:
  pull_request:
    types: [ opened, synchronize, reopened ]
    paths:
      - "app/**"
# .github/workflows/deploy.yml
name: CI/CD - Build, Push to ECR, Deploy to ECS

permissions:
  contents: read
  id-token: write # For OIDC
  actions: read

concurrency:
  group: ecs-deploy-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pr-tests:
    name: PR - Build & Test
    if: ${{ github.event_name == 'pull_request' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'

      - name: Build + Unit Tests
        run: mvn -B test package


